.meetingrooms {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
}
.meetingrooms__title {
	text-align: center;
	color: var(--black);
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
}
.active__room svg {
	fill: var(--primary);
}
