.primary {
	background-color: var(--primary);
	color: white;
	outline-color: var(--primary-hover);
	padding: 10px 30px;
	border: 1px solid transparent;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
}
.primary:hover {
	background-color: var(--primary-hover);
}
.primary:focus {
	background-color: var(--primary-hover);
}
.primary:disabled {
	background-color: #bfb1cf;
	cursor: default;
}
.red {
	outline-color: var(--red);
	background-color: transparent;
	color: var(--red);
	padding: 10px 30px;
	border: 1px solid var(--red);
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
}
