.calendar {
	max-width: 400px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	color: var(--black);
	border: 1px solid var(--black);
	border-radius: 4px;
	overflow: hidden;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #dfbff7;
	padding: 8px;
	color: var(--primary);
}

.previous,
.next {
	font-size: 16px;
	cursor: pointer;
	color: var(--primary);
}

.current-month {
	font-size: 18px;
	font-weight: bold;
}
.current-month::first-letter {
	text-transform: uppercase;
}

.weekdays {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	background-color: #f5f5f5;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 8px;
}

.weekday {
	padding: 8px;
}

.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 8px;
	padding: 8px;
}

.day {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
}
.day:hover {
	color: white;
	background-color: var(--primary);
}

.other-month {
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	color: #bbb;
}
.active {
	color: white;
	background-color: var(--primary);
}
