:root {
	--black: #3b434e;
	--white: white;
	--primary: #7653fc;
	--primary-hover: #6744f3;
	--red: #fc836d;
	--green: #1dc37e;
	--green-light: #c8f8e4;
	--gray-light: #ebebeb;
	--gray: #a4a4a4;
	--gray-dark: #787d85;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
